/////// filter/button styling
.filter-directions {
  font-size: 1.75rem;
  padding-bottom: 3rem;
  text-align: center;
  font-style: italic;
}
.filter-options {
  font-size: 3rem;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn-player {
  background-color: rgb(88, 86, 238);
}
.btn-player.toggle {
  background-color: rgb(129, 69, 119);
  border-style: groove;
  transform: scale(0.99);
}
.btn-team {
  background-color: rgb(88, 86, 238);
}
.btn-team.toggle {
  background-color: rgb(129, 69, 119);
  border-style: groove;
  transform: scale(0.99);
}

.btn-player,
.btn-team {
  width: 15vw;
  padding: 0.75rem;
  font-size: 2rem;
  color: white;
  transition: all 0.3s;
  cursor: pointer;
}
.btn-player:hover,
.btn-team:hover {
  background-color: rgb(129, 69, 119);
}
.btn-player:active,
.btn-team:active {
  transform: scale(0.9);
}
