@use "_search.scss";

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
/////// font style and size
html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: white;
}

////// hidden visibility
.hide {
  display: none;
}

////// header
.header {
  font-size: 3.5rem;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

/////// filter/button styling
.filter-directions {
  font-size: 1.75rem;
  padding-bottom: 3rem;
  text-align: center;
  font-style: italic;
}
.filter-options {
  font-size: 3rem;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.btn-player,
.btn-team,
.btn-stats {
  width: 15vw;
  padding: 0.75rem;
  font-size: 2rem;
  background-color: rgb(130, 176, 194);
  color: white;
  transition: all 0.3s;
  cursor: pointer;
}
.btn-player:hover,
.btn-team:hover,
.btn-stats:hover {
  background-color: rgb(92, 192, 231);
}
.btn-player:active,
.btn-team:active,
.btn-stats:active {
  transform: translateY(0.9rem);
}
.notes {
  font-size: 1.25rem;
  padding-bottom: 1rem;
  text-align: center;
  font-style: italic;
}

////// item list styling
.item-list {
  color: black;
  font-size: 2rem;
  align-items: center;
  padding-left: 8rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //list-style: none;
  list-style: url("C:\Users\zrims\HS School Stuff\api-project-zackrim\img\basketballicon.png");
}
.item-list .past {
  list-style: none;
}
/*.item-list .current {
  list-style: url("C:\Users\zrims\HS School Stuff\api-project-zackrim\img\basketballicon.png");
}*/
.item-name {
  font-size: 2.5rem;
  color: black;
  font-weight: bold;
  padding-bottom: 1rem;
  padding-top: 0.75rem;
  background-color: transparent;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}
.item-name:hover {
  color: rgb(102, 196, 240);
}
.item-info {
  font-size: 2rem;
  color: rgb(75, 75, 75);
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

/////// footer styling
.bottom-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.api {
  font-size: 2rem;
  color: black;
  padding-bottom: 4rem;
}
