@use "_search.scss";

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
// font style and size
html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: white;
}

.header {
  font-size: 3.5rem;
  margin: 3rem auto;
  text-align: center;
}
.player-list {
  font-size: 4rem;
  color: black;
}
.player-row {
  font-size: 2rem;
  align-items: center;
}
.player-name {
  font-size: 3rem;
  color: black;
}
