@use "_search.scss";
@use "_filters.scss";
@use "_items.scss";

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
/////// font style and size
html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: white;
}

////// hidden visibility
.hide {
  display: none;
}

////// header
.header {
  font-size: 3.5rem;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.notes {
  font-size: 1.25rem;
  padding-bottom: 1rem;
  text-align: center;
  font-style: italic;
}

/////// footer styling
.bottom-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.api {
  font-size: 2rem;
  color: black;
  padding-bottom: 4rem;
}
